<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#div1{
			margin: 300px auto;
			opacity: 0.8;
			color: white;
			background-color: #333;
			height: 350px;
			width: 530px;
			font-size: 20px;
		}
	</style>

</head>
<body style=" background-color: rgb(227,227,227);height: auto;">

<div id="div1">

	<form method="get" action="/add" style="padding-left: 15px">
		<table>
			<tr>
				<td>姓名:</td>
				<td><input type="text" name="title">(让我们记下你哦！)
			</tr>
			<tr>
				<td>联系方式</td>
				<td><input type="text" name="url">(不会泄露哒！)
			</tr>
			<tr>
				<td>留言建议</td>
				<td><textarea name="text" rows="4" cols="49"></textarea></td>
			</tr>
			<tr><td>提交即可查看啦！</td>
				<td><input type="submit" name="submit" value="提交"></td>

			</tr>
		</table>
	</form>
</div>



</body>

</html>
